
.vs/BasicAppiumNunitSample/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/basicappiumnunitsample.strings.v8.bin
.vs/ProjectEvaluation/basicappiumnunitsample.projects.v8.bin
.vs/ProjectEvaluation/basicappiumnunitsample.metadata.v8.bin
.vs/BasicAppiumNunitSample/v17/DocumentLayout.json
.vs/BasicAppiumNunitSample/v17/.suo
.vs/BasicAppiumNunitSample/v17/.futdcache.v2
.vs/BasicAppiumNunitSample/FileContentIndex/e0b52990-717c-471d-ae9a-1e5216d4028e.vsidx
.vs/BasicAppiumNunitSample/FileContentIndex/d2448e38-a859-4d38-b8bd-f6a4776392c3.vsidx
.vs/BasicAppiumNunitSample/FileContentIndex/f86d18ca-e394-4856-ba97-a67d6c6c824f.vsidx
.vs/BasicAppiumNunitSample/v17/TestStore/0/000.testlog
.vs/BasicAppiumNunitSample/v17/TestStore/0/testlog.manifest
